* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    justify-content: center;
    align-self: center;
    display: flex;
    background: transparent;
    margin: auto;
}

.Statcard {
    position: relative;
    width: 490px;
    height: 44px;
    border-radius: 30px;
    background: rgba(128, 128, 128, 0.5);
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: all 0.3s ease;
    align-items: center;
    transition: background 0.3s ease; 
}
.stats-row {
    display: flex;
    gap: 10px;
    color: #FFFFFF;
    font-weight: 600;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    margin-top: 12px;
    justify-content: center;

}
  